<div class="home-container1">
  <div data-modal="practices" class="home-modal1">
    <div class="home-practices">
      <div class="home-heading1">
        <span class="home-header1">Our practices</span>
        <svg viewBox="0 0 1024 1024" data-close="practices" class="home-close">
          <path
            d="M225.835 286.165l225.835 225.835-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.835-225.835 225.835 225.835c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331l-225.835-225.835 225.835-225.835c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.835 225.835-225.835-225.835c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"
          ></path>
        </svg>
      </div>
      <div class="home-grid">
        <div class="home-section1">
          <div class="home-heading2">
            <span class="home-header2">Cardiology</span>
            <span class="home-caption1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </span>
          </div>
          <div class="read-more">
            <span class="home-text10">Read more</span>
            <img
              alt="image"
              src="/assets/Icons/arrow-2.svg"
              class="home-image10"
            />
          </div>
        </div>
        <div class="home-section2">
          <div class="home-heading3">
            <span class="home-header3">Orthopedics</span>
            <span class="home-caption2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </span>
          </div>
          <div class="read-more">
            <span class="home-text11">Read more</span>
            <img
              alt="image"
              src="/assets/Icons/arrow-2.svg"
              class="home-image11"
            />
          </div>
        </div>
        <div class="home-section3">
          <div class="home-heading4">
            <span class="home-header4">Ophtalmology</span>
            <span class="home-caption3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </span>
          </div>
          <div class="read-more">
            <span class="home-text12">Read more</span>
            <img
              alt="image"
              src="/assets/Icons/arrow-2.svg"
              class="home-image12"
            />
          </div>
        </div>
        <div class="home-section4">
          <div class="home-heading5">
            <span class="home-header5">Pediatrics</span>
            <span class="home-caption4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </span>
          </div>
          <div class="read-more">
            <span class="home-text13">Read more</span>
            <img
              alt="image"
              src="/assets/Icons/arrow-2.svg"
              class="home-image13"
            />
          </div>
        </div>
        <div class="home-section5">
          <div class="home-heading6">
            <span class="home-header6">Nutrition</span>
            <span class="home-caption5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </span>
          </div>
          <div class="read-more">
            <span class="home-text14">Read more</span>
            <img
              alt="image"
              src="/assets/Icons/arrow-2.svg"
              class="home-image14"
            />
          </div>
        </div>
        <div class="home-section6">
          <div class="home-heading7">
            <span class="home-header7">General</span>
            <span class="home-caption6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </span>
          </div>
          <div class="read-more">
            <span class="home-text15">Read more</span>
            <img
              alt="image"
              src="/assets/Icons/arrow-2.svg"
              class="home-image15"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="home-hero">
    <header class="home-header8">
      <header data-thq="thq-navbar" class="home-navbar">
        <div class="home-left">
          <img
            alt="image"
            src="/assets/Branding/logo-1500h.png"
            class="home-logo"
          />
          <nav class="home-links">
            <a href="#features" class="home-link1">Features</a>
            <span class="home-link2">How it works</span>
            <span class="home-link3">Prices</span>
            <span class="home-link4">Contact</span>
          </nav>
        </div>
        <div data-thq="thq-navbar-btn-group" class="home-right">
          <button class="home-phone button">
            <img
              alt="image"
              src="/assets/Icons/phone.svg"
              class="home-image16"
            />
            <span class="home-text16">+0 123-456-789</span>
          </button>
          <button class="home-book1 button button-main">
            <img
              alt="image"
              src="/assets/Icons/calendar.svg"
              class="home-image17"
            />
            <span class="home-text17">Book an appointment</span>
          </button>
        </div>
        <div data-thq="thq-burger-menu" class="home-burger-menu">
          <svg viewBox="0 0 1024 1024" class="home-icon2">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path>
          </svg>
        </div>
        <div data-thq="thq-mobile-menu" class="home-mobile-menu">
          <div data-thq="thq-mobile-menu-nav" data-role="Nav" class="home-nav1">
            <div class="home-container2">
              <img
                alt="image"
                src="/assets/Branding/logo-1500h.png"
                class="home-image18"
              />
              <div data-thq="thq-close-menu" class="home-menu-close">
                <svg viewBox="0 0 1024 1024" class="home-icon4">
                  <path
                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                  ></path>
                </svg>
              </div>
            </div>
            <nav
              data-thq="thq-mobile-menu-nav-links"
              data-role="Nav"
              class="home-nav2"
            >
              <span class="home-text18">Features</span>
              <span class="home-text19">How it works</span>
              <span class="home-text20">Prices</span>
              <span class="home-text21">Contact</span>
              <button class="home-book2 button button-main">
                <img
                  alt="image"
                  src="/assets/Icons/calendar.svg"
                  class="home-image19"
                />
                <span class="home-text22">Book an appointment</span>
              </button>
            </nav>
          </div>
        </div>
      </header>
    </header>
    <div class="home-main">
      <div class="home-content1">
        <div class="home-heading8">
          <h1 class="home-header9">
            Experienced general practitioners who have an eye for your care
          </h1>
          <p class="home-caption7">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
        <button class="button button-main home-book3">
          <img
            alt="image"
            src="/assets/Icons/calendar.svg"
            class="home-image20"
          />
          <span>Book an appointment</span>
        </button>
      </div>
      <div class="home-image21">
        <img
          alt="image"
          src="/assets/doctor-image-1500w.png"
          class="home-image22"
        />
      </div>
    </div>
    <div id="features" class="home-features">
      <div class="home-content2">
        <app-features></app-features>
        <app-features title="Virtual Clinic"></app-features>
        <app-features title="Clinical results"></app-features>
      </div>
    </div>
    <div class="home-background"></div>
  </section>
  <div>
    <div class="home-container4">
      <dangerous-html
        html="<script>
const modalOpen = document.querySelectorAll('[data-open]');
const modalClose = document.querySelectorAll('[data-close]');

modalOpen.forEach(button => {
    button.addEventListener('click', event => {
        const modal = document.querySelector(`[data-modal='${event.target.dataset.open}']`);
        modal.style.display = 'flex';
    });
});

modalClose.forEach(button => {
    button.addEventListener('click', event => {
        const modal = document.querySelector(`[data-modal='${event.target.dataset.close}']`);
        modal.style.display = 'none';
    });
});
</script>
"
      ></dangerous-html>
    </div>
  </div>
  <div>
    <div class="home-container6">
      <dangerous-html
        html="<script>
const dataLetters = document.querySelectorAll('[data-letter]');
let activeLetters = [];
const maxResults = 6;

dataLetters.forEach(letter => {
  letter.addEventListener('click', function() {
    if (this.classList.contains('letter-active')) {
      this.classList.remove('letter-active');
      activeLetters = activeLetters.filter(a => a !== this.dataset.letter);
    } else {
      this.classList.add('letter-active');
      activeLetters.push(this.dataset.letter);
    }
    if (activeLetters.length == 0) {
      document.querySelector('[data-teleport='results']').style.display = 'none';
      return;
    }
    showResults();
  });
});

const showResults = () => {
  fetch('https://raw.githubusercontent.com/Shivanshu-Gupta/web-scrapers/master/medical_ner/medicinenet-diseases.json')
    .then(response => response.json())
    .then(data => {
      const filteredData = data.filter(item => {
        const firstLetter = item.disease.charAt(0).toLowerCase();
        if (activeLetters.includes(firstLetter)) {
          return true;
        }
        return false;
      });

      document.querySelector('[data-teleport='results']').style.display = 'flex';
      const resultsContainer = document.querySelector('[data-results='letters']');
      resultsContainer.innerHTML = '';

      let counter = 0;
      const diseaseGroups = {};
      const totalActiveLetters = activeLetters.length;

      filteredData.forEach(disease => {
        const firstLetter = disease.disease[0].toLowerCase();
        if (diseaseGroups[firstLetter]) {
          diseaseGroups[firstLetter].push(disease);
        } else {
          diseaseGroups[firstLetter] = [disease];
        }
      });

      Object.keys(diseaseGroups).sort().forEach((firstLetter, index) => {
        const diseasesForThisLetter = diseaseGroups[firstLetter];
        const diseasesToShow = diseasesForThisLetter.slice(0, Math.ceil(maxResults / totalActiveLetters));

        diseasesToShow.forEach(disease => {
          const resultContainer = document.createElement('div');
          resultContainer.classList.add('search-result');
          resultContainer.classList.add('invisible');
          resultContainer.style.animationDelay = `${counter * 0.25}s`;

          const resultText = document.createElement('span');
          resultText.classList.add('result-text');
          resultText.textContent = disease.disease;

          resultContainer.appendChild(resultText);
          resultsContainer.appendChild(resultContainer);
          counter++;

          if (counter === maxResults) {
            const moreContainer = document.createElement('div');
            moreContainer.classList.add('search-result');
            moreContainer.classList.add('more-results');

            const moreText = document.createElement('span');
            moreText.classList.add('result-text');
            moreText.textContent = 'More';

            moreContainer.appendChild(moreText);
            resultsContainer.appendChild(moreContainer);
            addedMoreContainer = true;
            return;
          }
        });
      });
    });
};
</script>
"
      ></dangerous-html>
    </div>
  </div>
  <div>
    <div class="home-container8">
      <dangerous-html
        html="<script>
function scroll(direction) {
  const doctorsDiv = document.querySelector('[data-teleport='doctors']');
  const scrollAmount = 300;
  if (direction === 'previous') {
    doctorsDiv.scrollBy({
      left: -scrollAmount,
      behavior: 'smooth'
    });
  } else if (direction === 'next') {
    doctorsDiv.scrollBy({
      left: scrollAmount,
      behavior: 'smooth'
    });
  }
}

const buttons = document.querySelectorAll('[data-doctors]');
buttons.forEach(button => {
  button.addEventListener('click', () => {
    const direction = button.dataset.doctors;
    scroll(direction);
  });
});
</script>"
      ></dangerous-html>
    </div>
  </div>
</div>
