:host { 
  display: contents; 
}
 
.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
 
.home-modal1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
 
.home-practices {
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.home-header1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
 
.home-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
 
.home-close:hover {
  opacity: 0.5;
}
 
.home-grid {
  gap: var(--dl-layout-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
 
.home-section1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-heading2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-caption1 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text10 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image10 {
  width: 12px;
  object-fit: cover;
}
 
.home-section2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-heading3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-caption2 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text11 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image11 {
  width: 12px;
  object-fit: cover;
}
 
.home-section3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-heading4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-caption3 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text12 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image12 {
  width: 12px;
  object-fit: cover;
}
 
.home-section4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-heading5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header5 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-caption4 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text13 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image13 {
  width: 12px;
  object-fit: cover;
}
 
.home-section5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-heading6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header6 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-caption5 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text14 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image14 {
  width: 12px;
  object-fit: cover;
}
 
.home-section6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-heading7 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-header7 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-caption6 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text15 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image15 {
  width: 12px;
  object-fit: cover;
}
 
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-header8 {
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.home-left {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-logo {
  width: 165px;
  object-fit: cover;
}
 
.home-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-link1 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
 
.home-link1:hover {
  opacity: 0.5;
}
 
.home-link2 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
 
.home-link2:hover {
  opacity: 0.5;
}
 
.home-link3 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
 
.home-link3:hover {
  opacity: 0.5;
}
 
.home-link4 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
 
.home-link4:hover {
  opacity: 0.5;
}
 
.home-right {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-phone {
  gap: var(--dl-layout-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.home-image16 {
  width: 18px;
  object-fit: cover;
}
 
.home-text16 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-book1 {
  text-decoration: none;
}
 
.home-image17 {
  width: 18px;
  object-fit: cover;
}
 
.home-text17 {
  font-family: Inter;
}
 
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
 
.home-icon2 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-image18 {
  height: 2rem;
}
 
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon4 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text18 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text19 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text20 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text21 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-book2 {
  text-decoration: none;
}
 
.home-image19 {
  width: 18px;
  object-fit: cover;
}
 
.home-text22 {
  font-family: Inter;
}
 
.home-main {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-content1 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
}
 
.home-heading8 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-header9 {
  width: 100%;
  font-size: 62px;
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
 
.home-caption7 {
  width: 100%;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
 
.home-image20 {
  width: 18px;
  object-fit: cover;
}
 
.home-image21 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-image22 {
  height: 95%;
  object-fit: cover;
}
 
.home-features {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  background-color: #2461FF;
}
 
.home-content2 {
  gap: var(--dl-layout-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
}
 
.home-background {
  right: 0px;
  width: 37%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #D0F4FD;
}
 
.home-container4 {
  display: contents;
}
 
.home-container6 {
  display: contents;
}
 
.home-container8 {
  display: contents;
}
 
@media(max-width: 991px) {
  .home-hero {
    flex: 1;
    height: 0px;
  }
  .home-navbar {
    z-index: 1000;
  }
  .home-links {
    display: none;
  }
  .home-right {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-layout-space-unit);
    border-radius: var(--dl-layout-radius-round);
    background-color: #2461FF;
  }
  .home-icon2 {
    fill: white;
  }
  .home-main {
    flex-direction: column;
  }
  .home-content1 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-header9 {
    max-width: 75%;
  }
  .home-caption7 {
    max-width: 75%;
  }
  .home-image21 {
    flex: 0 0 auto;
    align-items: flex-end;
    padding-right: var(--dl-layout-space-twounits);
    justify-content: flex-end;
  }
  .home-features {
    padding-top: var(--dl-layout-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-content2 {
    flex-direction: column;
  }
  .home-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
}
 
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-main {
    gap: var(--dl-layout-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    justify-content: center;
  }
  .home-header9 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .home-caption7 {
    font-size: 16px;
    max-width: 70%;
    line-height: 24px;
  }
  .home-content2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-layout-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content1 {
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-header9 {
    max-width: 80%;
  }
  .home-caption7 {
    max-width: 100%;
  }
  .home-book3 {
    width: 100%;
  }
  .home-image22 {
    max-height: 500px;
  }
}
